body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body{
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 1009px;
    display: grid;
    grid-template-columns: 250px 4fr ;
    grid-template-rows: 175px;
    background-color: rgb(228, 227, 227);
    overflow: hidden;
    
}
.article{
    display: grid;
    grid-column: 2/3;
    gap: 30px;
    grid-template-columns: repeat(2, 2fr) 1fr;
    grid-template-rows: 70px repeat(auto-fill, 200px);
    height: 100%f;
    overflow-y: auto;
}

.sidebar{
    grid-column:1/1;
    grid-row: 1/3;
    background-color: #0891b2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 106px 330px 222px;
    align-items: center;
    justify-items:start ;
    
    
}
.logo{
    
    grid-column: 2/2;
    grid-row:1/1;
     color:white;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
     font-size: 25px;
     font-family: 'roboto' , sans-serif;
     font-weight: 700;
    justify-self: start;

}
.logoImg{
    filter:invert(100%) sepia(0%) saturate(0%) hue-rotate(54deg) brightness(110%) contrast(101%);
    grid-column: 1/1;
    color:#ffffff;
    width: 45px;
    justify-self: center;
    align-self: center;
}

.navigation{
    color: white;
    grid-column:2/2;
    align-self: start;
    justify-self: left;
    
}
.settings{
    
    grid-column: 2/2;
}
ul{
    display:grid;
    justify-items: self-start;
    padding: 0;

}
ul li {
    justify-self: left;
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'roboto' , sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px 10px 0px;

    
    transition: 0.5s;
}
ul li a{
    text-decoration: none;
    color: white;
}
.navImg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(54deg) brightness(110%) contrast(101%);
    grid-column: 1;
    grid-row:2/3;
}
.svgs{
    display: grid;
    grid-template-columns: 30px;
    gap: 9px;
    
    grid-column: 1/1;
    grid-row: 2/3;
    justify-self: center;
    align-self: start;
    margin-top: 20px;
}
.settingSvgs{
    grid-template-columns: 30px;
    display: grid;
    grid-column: 1/1;
    grid-row: 3/4;
    justify-self: center;
    align-self: start;
    gap: 9px;
    margin-top: 7px;
}
.settingsUi{
    display: grid;
    align-self: start;
    margin: 0;
}
.settings{
    display: grid;
    align-self: start;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 176px;
    background-color: white;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.212);
    
    
}
.lupa{
    grid-column: 1/1;
    grid-row: 1/1;
    width: 30px;
    margin-top:4px;
    align-self:center ;
    justify-self: end;
    
}
.search{
background-color: lightgray;
border: 0;
padding: 5px 2px;
border-radius: 10px;
max-height: 30px;
min-width: 150px;
max-width: 500px;
grid-column: 2/3;
grid-row: 1/1;
align-self: center;


}
.top{
    grid-template-columns: 60px 1fr 100px 100px;
    grid-column: 1/3;
    display: grid;
    align-items: center;
    gap: 10px;
}

.bell{
    
    grid-column: 3/3;
    grid-row: 1/1;
    width: 30px;
    align-self: center;
    
    
    align-self:center ;
    
}

.bigboss{
    grid-column: 3/3;
    grid-row: 1/1;
    width: 45px;
    align-self: center;
    border-radius: 50%;
    justify-self: end;

}
.bigboss2{ 
    width: 60px;
    align-self: center;
    border-radius: 60%;
    justify-self: end;
   

}
.bigbossName{
    font-size: 23px;
    font-family: 'roboto' , sans-serif;
    font-weight: 700;
}
.bottom{
    display: grid;
    grid-template-columns: 120px 1fr repeat(3, 100px);
    grid-column:1/3;
    align-items: center;
}
.middle{
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-column: 2/3;
    
}
.hi{
    font-size: 13px;
    
    font-weight: 700;
}
.username{
    font-size: 23px;
    letter-spacing: 1px;
    font-family: 'roboto' , sans-serif;
    font-weight: 700;
    margin-left: 5px;

}

.socialbtn{
    width: 85px;
    grid-column: 3/4;
    grid-row: 1/1;
    background-color: #0aabd3;
    color: white;
    font-family: 'roboro' , sans-serif;
    font-weight: 700;
    padding: 10px 5px;
    border:0;
    border-radius: 20px;
    
}
.new{
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}
.upload{
    grid-column: 4/5;
   
    
    align-self: center;
    justify-self: center;
}
.share{
    grid-column: 5/6;
        
    align-self: center;
    justify-self: center;
}

.card{
    background-color: white;
   
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: repeat(3 , 1fr);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.212);
    
    

}
.yellowLine{
    background-color: orange;
    width: 10px;
    grid-row: 1/4;
}
.c3{
    grid-row: 2/3;
    
}
.c1{
    margin-left: 20px;
    grid-row: 2 / 3;
}
.c4{
    grid-row: 3/4;
}
.c2{
    grid-row: 3/4;
    margin-left: 20px;
}
.c5{
    grid-row: 4/5;
    margin-left: 20px;
}
.c6{
    grid-row: 4/5;
}
.Yprojects, 
.announcementText{
    font-family: 'roboto' , sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.Yprojects{
    grid-row: 1/2;
    align-self:end;
    margin-left: 10px;

}
.announcementText{
    grid-row:1/2;
    grid-column: 3/4;
    align-self: end;
    justify-self: center;
}
.cardTitle{
    grid-row: 1/1;
    margin-left: 20px;
    align-self: center;
    font-family: 'roboto' , sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.cardContent{
    
    margin-left: 20px;
    align-self: start;
    font-family: 'roboto' , sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(119, 119, 119);
}
.cardIcons{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-right: 20px;
    
}
.addFav{
    width: 20px;

}
.shared{
    width: 20px;
    grid-column: 3/4;
}

.announce{
    grid-column: 3/4;
    grid-row: 2/3 ;
     
    display: grid;
    grid-template-columns: 1fr ; 
    grid-template-rows: repeat(3, 70px);
   gap: 20px;
    background-color: white;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.212);
    align-items: space-between;
}
.announcements{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
   
}
.announceContent{
    font-size: 12px;
    color: gray;
}
.announceTitle{
    align-self: end;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'roboto' , sans-serif;
}
.snake{
    
    width: 40px;
    border-radius: 50%;
}

.trending{
    
    grid-column: 3/4;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 87px 1fr;
    grid-template-rows: repeat(4 , 1fr);
    background-color: white;
    height: 300px;
    width: 200px;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}
.sk3{
    grid-column: 1/2;
    grid-row: 4/5;

}
.sk2{
    grid-column: 1/2;
    grid-row: 3/4;
}
.sk4{
    grid-column: 1/2;
    grid-row: 2/3;
}

.sp1{
    justify-self: start;
    font-family: 'roboto' , sans-serif;
    font-size: 16px;
    font-weight: ;
}